<div class="w-full h-screen flex items-center justify-center">
    <div class="w-[50%] h-[75%] shadow-lg rounded-lg flex flex-row justify-center items-center gap-2">
        <div class="w-[80%] flex justify-center items-center flex-col gap-5 p-3">
            <div class="w-2/3">
                <h1 class="text-4xl">Se connecter en mécano</h1>
                <p class="font-light">Entrez vos identifiants mécaniciens.</p>
            </div>
            <div class="w-full flex items-center justify-center flex-col gap-4">
                <form class="w-2/3 flex flex-col gap-2" [formGroup]="userForm" (ngSubmit)="onSubmit()">
                    <div class="w-full">
                        <p-floatlabel class="relative" variant="on">
                            <input class="w-full rounded-lg" pInputText formControlName="email" autocomplete="off" />
                            <label class="font-light">Email</label>
                            <i class="pi pi-exclamation-circle absolute text-red-500 right-3 top-1/2 -translate-y-1/2"
                                *ngIf="userForm.get('email')?.invalid && userForm.get('email')?.touched"
                                pTooltip="Entrez votre adresse email" tooltipPosition="right" placeholder="Right"></i>
                        </p-floatlabel>
                    </div>
                    <div class="w-full">
                        <p-floatlabel class="relative" variant="on">
                            <input class="w-full" pInputText type="password" formControlName="password"
                                autocomplete="off" />
                            <label>Mot de passe</label>
                            <i class="pi pi-exclamation-circle absolute text-red-500 right-3 top-1/2 -translate-y-1/2"
                                *ngIf="userForm.get('password')?.invalid && userForm.get('password')?.touched"
                                pTooltip="Entrez votre mot de passe" tooltipPosition="right" placeholder="Right"></i>
                        </p-floatlabel>

                    </div>
                    <p-button label="Se connecter" class="w-full" [disabled]="userForm.invalid" type="submit" />
                </form>
            </div>
        </div>
    </div>
</div>