<div class="w-full h-screen flex items-center justify-center">
    <div class="w-[75%] h-[75%] shadow-lg rounded-lg flex flex-row gap-2">
        <div class="w-[50%] flex justify-center items-center flex-col gap-5 p-3">
            <div class="w-2/3">
                <h1 class="text-4xl">S'inscrire</h1>
                <p class="font-light">Entrez vos identifiants pour vous connecter.</p>
            </div>
            <div class="w-full flex items-center justify-center flex-col gap-4">
                <form class="w-2/3 flex flex-col gap-2" [formGroup]="registerForm" (ngSubmit)="onRegister()">
                    <div class="w-full">
                        <p-floatlabel variant="on" class="relative">
                            <input class="w-full rounded-lg border border-gray-300 p-2 focus:ring focus:ring-blue-400"
                                pInputText formControlName="email" autocomplete="off" />
                            <label class="font-light">Email</label>
                            <i class="pi pi-exclamation-circle absolute text-red-500 right-3 top-1/2 -translate-y-1/2"
                                *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched"
                                pTooltip="Entrez votre adresse email" tooltipPosition="right"></i>
                        </p-floatlabel>
                    </div>

                    <div class="w-full">
                        <p-floatlabel variant="on" class="relative">
                            <input class="w-full rounded-lg border border-gray-300 p-2 focus:ring focus:ring-blue-400"
                                pInputText formControlName="username" autocomplete="off" />
                            <label class="font-light">Nom d'utilisateur</label>
                            <i class="pi pi-exclamation-circle absolute text-red-500 right-3 top-1/2 -translate-y-1/2"
                                *ngIf="registerForm.get('username')?.invalid && registerForm.get('username')?.touched"
                                pTooltip="Entrez votre nom d'utilisateur" tooltipPosition="right"></i>
                        </p-floatlabel>
                    </div>

                    <div class="w-full">
                        <p-floatlabel variant="on" class="relative">
                            <input class="w-full rounded-lg border border-gray-300 p-2 focus:ring focus:ring-blue-400"
                                pInputText formControlName="name" autocomplete="off" />
                            <label class="font-light">Nom</label>
                        </p-floatlabel>
                    </div>

                    <div class="w-full">
                        <p-floatlabel variant="on" class="relative">
                            <input class="w-full rounded-lg border border-gray-300 p-2 focus:ring focus:ring-blue-400"
                                pInputText formControlName="firstname" autocomplete="off" />
                            <label class="font-light">Prénom</label>
                        </p-floatlabel>
                    </div>

                    <div class="w-full">
                        <input class="w-full rounded-lg border border-gray-300 p-2 focus:ring focus:ring-blue-400"
                            pInputText formControlName="birthdate" type="date" />
                    </div>

                    <div class="w-full">
                        <p-floatlabel variant="on" class="relative">
                            <input class="w-full rounded-lg border border-gray-300 p-2 focus:ring focus:ring-blue-400"
                                pInputText type="password" formControlName="password" autocomplete="off" />
                            <label class="font-light">Mot de passe</label>
                            <i class="pi pi-exclamation-circle absolute text-red-500 right-3 top-1/2 -translate-y-1/2"
                                *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched"
                                pTooltip="Entrez un mot de passe sécurisé" tooltipPosition="right"></i>
                        </p-floatlabel>
                    </div>

                    <div class="w-full">
                        <p-floatlabel variant="on" class="relative">
                            <input class="w-full rounded-lg border border-gray-300 p-2 focus:ring focus:ring-blue-400"
                                pInputText type="text" formControlName="address" autocomplete="off" />
                            <label class="font-light">Adresse</label>
                        </p-floatlabel>
                    </div>

                    <div class="w-full">
                        <p-floatlabel variant="on" class="relative">
                            <input class="w-full rounded-lg border border-gray-300 p-2 focus:ring focus:ring-blue-400"
                                pInputText type="text" formControlName="phone" autocomplete="off" />
                            <label class="font-light">Numéro de téléphone</label>
                        </p-floatlabel>
                    </div>

                    <p-button label="S'inscrire" class="w-full" [disabled]="registerForm.invalid" type="submit" />
                </form>
                <p>Vous avez déjà un compte? <a class="text-blue-500" routerLink="/login">Se connecter</a></p>
            </div>
        </div>
        <div class="w-[50%] relative rounded-lg h-full overflow-hidden">
            <div
                class="absolute  inset-0 bg-[rgba(128,128,128,0.5)] w-full h-full top-0 p-3 flex items-center justify-center opacity-0 transition-opacity duration-300 hover:opacity-100">
                <h1 class="text-white font-bold text-2xl">M1 MEAN Yohan - Mahery</h1>
            </div>
            <img src="/man-362150_1280.jpg" class="w-[120%] h-full" alt="Tsy hita">
        </div>
    </div>
</div>