<div class="p-3 px-3 flex justify-between items-center">
    <h1 class="text-xl font-bold">M1MEANP12-Yohan-Mahery</h1>
    <div class="flex flex-row gap-2">
        <div class="cursor-pointer">
            <p-menu #menu [model]="items" [popup]="true" />
            <p-avatar size="large" (click)="menu.toggle($event)"  image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" shape="circle" />
        </div>
        <div>
            <p class="font-bold">{{user.username || "Anonyme"}}</p>
            <p class="font-light">{{authService.getUserRole()}}</p>
        </div>
    </div>
</div>
