<div class="flex flex-col gap-5">
    <div class="w-full flex items-center justify-center flex-col gap-3">
        <h1 class="font-bold text-3xl">Parametrage des articles</h1>
        <section class="w-full grid grid-cols-2 gap-3">
            <app-dynamic-crud [title]="'catégorie articles'" [endpoint]="'articleCategories'" [fields]="articleCategory"></app-dynamic-crud>
            <app-dynamic-crud [title]="'articles'" [endpoint]="'articles'" [fields]="article"></app-dynamic-crud>
        </section>
    </div>
    <div class="w-full flex items-center justify-center flex-col gap-3">
        <h1 class="font-bold text-3xl">Parametrage des voitures</h1>
        <section class="w-full grid grid-cols-2 gap-3">
            <app-dynamic-crud [title]="'modeles'" [endpoint]="'carModels'" [fields]="carModel"></app-dynamic-crud>
            <app-dynamic-crud [title]="'marques'" [endpoint]="'carBrands'" [fields]="carBrand"></app-dynamic-crud>
        </section>
    </div>
    <div class="w-full flex items-center justify-center flex-col gap-3">
        <h1 class="font-bold text-3xl">Parametrage des services</h1>
        <section class="w-full">
            <app-dynamic-crud [title]="'modeles'" [endpoint]="'carModels'" [fields]="carModel"></app-dynamic-crud>
        </section>
    </div>
</div>