<div class="w-full p-4 bg-white rounded-xl">
  <div class="flex flex-col gap-2">
    <div class="flex items-center justify-between">
      <span class="text-xl font-bold">Gestion des {{ title }}</span>
      <p-button icon="pi pi-plus" rounded raised (click)="showInsertDialog()"></p-button>
    </div>
    <div class="rounded-xl border">
      <p-table [value]="dataList" [tableStyle]="{ 'min-height': '150px', 'border-radius':'12px' }" class="w-full" >
        <ng-template pTemplate="header">
          <tr>
            <th *ngFor="let field of fields" pSortableColumn="{{field.name}}">{{ capitalizeFirstLetter(field.name) }}
              <p-sortIcon field="{{field.name}}" /></th>
              <th></th>
          </tr>
        </ng-template>
  
        <ng-template pTemplate="body" let-item>
          <tr>
            <td *ngFor="let field of fields" [ngClass]="getFieldClass(item[field.name])">
              {{ formatField(item, field) || "N/A" }}
            </td>
            <td class="grid grid-cols-2 gap-2">
              <button (click)="showEditDialog(item)"><i class="pi pi-pencil"></i></button>
              <button (click)="deleteItem(item.id)"><i class="pi pi-trash"></i></button>
            </td>
          </tr>
        </ng-template>
        <ng-template #emptymessage>
          <tr>
            <td [attr.colspan]="(fields.length || 0) + 1" class="text-center">Pas de données.</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
  <p-paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="rows" [totalRecords]="dataList.length"
    [rowsPerPageOptions]="[10, 20, 30]" />
</div>

<!-- Add form -->
<p-dialog [(visible)]="visibleInsert" [modal]="true" [style]="{ width: '50rem' }" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">
  <ng-template #header>
    <div class="inline-flex items-center justify-center gap-2">
      <span class="font-bold whitespace-nowrap">Inserer un(e) {{title}}</span>
    </div>
  </ng-template>
  <form [formGroup]="form" (ngSubmit)="submitForm()">
    <div *ngFor="let field of fields; trackBy: trackByFn" class="flex items-center gap-4 mb-4">
      <label for="{{ field.name }}" class="font-semibold w-24">{{ capitalizeFirstLetter(field.name) }}</label>
      <input *ngIf="field.type !== 'select' && field.type !== 'boolean'" pInputText id="{{ field.name }}"
        class="flex-auto" [type]="field.type" [formControlName]="field.name" autocomplete="off" />
      <input *ngIf="field.type === 'boolean'" type="checkbox" [formControlName]="field.name" />
      <p-select class="w-full" *ngIf="field.type === 'select'" [options]="selectOptions[field.name]" [formControlName]="field.name" optionValue="value" optionLabel="label" placeholder="{{field.name}}" />
    </div>
  </form>
  <ng-template #footer>
    <p-button label="Cancel" [text]="true" severity="secondary" (click)="visibleInsert = false" />
    <p-button label="Inserer" [outlined]="true" severity="secondary" (click)="submitForm()" />
  </ng-template>
</p-dialog>

<!-- Update form -->
<p-dialog [(visible)]="visibleEdit" [modal]="true" class="w-1/2" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">
  <ng-template #header>
    <div class="inline-flex items-center justify-center gap-2">
      <span class="font-bold whitespace-nowrap">Modifier {{ title }}</span>
    </div>
  </ng-template>
  <form [formGroup]="editForm" (ngSubmit)="updateItem()" class="p-2">
    <div *ngFor="let field of fields; trackBy: trackByFn" class="flex items-center gap-4 mb-4 ">
      <label for="{{ field.name }}" class="font-semibold w-24">{{ capitalizeFirstLetter(field.name) }}</label>
      <input *ngIf="field.type !== 'select' && field.type !== 'boolean'" pInputText id="{{ field.name }}" class="flex-auto" [type]="field.type"
        [formControlName]="field.name" autocomplete="off" />
      <input *ngIf="field.type === 'boolean'" type="checkbox" [formControlName]="field.name" />
      <p-select class="w-full" *ngIf="field.type === 'select'" [ngModel]="selectOptions[field.name]"  [formControlName]="field.name" optionValue="value" optionLabel="label" placeholder="{{field.name}}" />
    </div>
  </form>
  <ng-template #footer>
    <p-button label="Cancel" [text]="true" severity="secondary" (click)="visibleEdit = false" />
    <p-button label="Update" [outlined]="true" severity="secondary" (click)="updateItem()" />
  </ng-template>
</p-dialog>