<div class="flex flex-col items-center w-screen justify-center h-screen bg-gray-100 p-3">
    <div class="rounded-xl bg-gray-50 p-2 flex flex-col justify-center items-center gap-2">
        <h1 class="text-3xl font-semibold mb-4">Accès non authorisé !</h1>
        <p class="text-gray-400">Vous n'avez pas l'authorisation d'acceder à cette page.</p>
        <div class="mt-4 text-gray-500">
            Vous allez être redirigé(e) dans <span class="font-bold ">{{ countdown }}</span> seconde(s)...
        </div>
    </div>
</div>